<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">链接管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__CONTROLLER__/sort" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add">新增链接</a>
                        <a id="updateOrd" href="javascript:void(0)">
                        <input class="btn btn-pimary btn2" type="submit" value="更新排序" /></a>

                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>排序</th>
                            <th>ID</th>
                            <th>链接名称</th>
                            <th>链接地址</th>
                            <th>链接描述</th>
                            <th>操作</th>
                        </tr>
                        <volist name="list" id="vo">
                        <tr>
                            <td width="4%">
                                <input class="common-input sort-input" name="{$vo.id}" value="{$vo.sort}" type="text">
                            </td>
                            <td width="4%">{$vo.id}</td>
                            <td title="{$vo.title}"><a target="_blank" href="#" title="{$vo.title}">{$vo.title}</a>
                            </td>
                            <td title="{$vo.url}"><a target="_blank" href="{$vo.url}" title="{$vo.url}">{$vo.url}</a>
                            </td>
                            <td>{$vo.desc}</td>
                            <td width="10%">
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" onclick="return confirm('你要删除该链接吗？');" href="__CONTROLLER__/del/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
                        </volist> 
                    </table>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>