<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">栏目管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__CONTROLLER__/sort" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add">新增栏目</a>
                        <a id="updateOrd" href="javascript:void(0)">
                        <input class="btn btn-pimary btn2" type="submit" value="更新排序" /></a>

                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>排序</th>
                            <th>ID</th>
                            <th>栏目名称</th>
                            <th>操作</th>
                        </tr>
                        <volist name="cateres" id="vo">
                        <tr>
                            <td width="4%">
                                <input class="common-input sort-input" name="{$vo.id}" value="{$vo.sort}" type="text">
                            </td>
                            <td width="4%">{$vo.id}</td>
                            <td title="{$vo.catename}"><a target="_blank" href="#" title="发哥经典">{$vo.catename}</a>
                            </td>
                            <td width="10%">
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" onclick="return confirm('你要删除该栏目吗？');" href="__CONTROLLER__/del/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
                        </volist> 
                    </table>
                    <!-- <div class="list-page"> 2 条 1/1 页</div> -->
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>