<div id="board">
    <form id="form" method="post" action="__CONTROLLER__/messadd">
        <div>
            <label for="username">昵称:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="username">邮箱:</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="username">内容:</label>
            <textarea name="content" id="" cols="30" rows="10" required></textarea>
        </div>
        <input type="submit" style="width: 200px;height: 30px;margin: 10px;font-size: 20px; border-radius: 5px;">
    </form>
    <table id="table">
        <tr><td colspan="3">最新5条留言</td></tr>
        <tr><td>昵称</td><td>发表时间</td><td style="width: 500px">留言内容</td></tr>
        <volist name="messages" id="vo">
            <tr><td>{$vo.username}</td><td>{$vo.time}</td><td style="width: 500px">{$vo.content}</td></tr>
        </volist>
    </table>
</div>
<div id="footer">
    <div>
        网页练习—时间：2016-10-20    周起
    </div>
</div>