<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Article/lst">文章管理</a></li>
                        <li><a href="__MODULE__/Cate/lst">分类管理</a></li>
                        <li><a href="__MODULE__/Link/lst">友情链接</a></li>
                        <li><a href="__MODULE__/Admin/lst">管理员管理</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>